@import "tailwindcss";

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn-primary {
  @apply bg-gradient-to-r from-[#9F0D24] to-[#EB3460] rounded-3xl p-4 font-bold cursor-pointer transition;
}

.btn-primary:hover {
  @apply bg-gradient-to-r from-[#9f0d23ce] to-[#eb345fcf];
}

.btn-task {
  @apply p-[6px] min-w-[75px] rounded-3xl;
}
