@import "tailwindcss";

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn-primary {
  @apply bg-[#e75656] rounded-xl p-4 font-bold cursor-pointer transition;
}

.btn-primary:hover {
  @apply bg-[#e64646];
}

.btn-task {
  @apply p-[6px] min-w-[75px] rounded-3xl;
}
